In [1]:
import pandas as pd
import numpy as np
import plotly.express as px 
import plotly.graph_objects as go 
import seaborn as sns 
import matplotlib.pyplot as plt 
import googlemaps
import folium
from folium.plugins import HeatMap, HeatMapWithTime
from scipy.stats import chi2_contingency
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy.stats import chi2_contingency, fisher_exact
import statsmodels.api as sm
import statsmodels.formula.api as smf
from regressors import stats
from sklearn.linear_model import LogisticRegression

ModuleNotFoundError: No module named 'regressors'

In [29]:
df = pd.read_csv('/Users/skareti/Desktop/Independent Study/NYTRestaurantReviews/data/AnalysisDataset.csv', index_col = 0)
df

,Restaurant_name,Author,Publishing_Date,Rating,Price,Cuisine,Cuisine_Cleaned,Neighborhood,CriticsPick,Rank,...,nta2020,ntaname,ntaabbrev,ntatype,cdta2020,cdtaname,shape_leng,shape_area,isNYC,Status
0,'Wichcraft,PETER MEEHAN,"Sept. 7, 2005",NaN,$,"American, Sandwiches",American,Midtown South,0.0,0.0,...,MN0502,Midtown-Times Square,Mdtwn_TmSq,0.0,MN05,MN05 Midtown-Flatiron-Union Square (CD 5 Appro...,21258.40137,2.455251e+07,1.0,Open
1,12 Chairs,ERIC ASIMOV,"Oct. 18, 1996",NaN,$$,Russian,Russian,SoHo,0.0,0.0,...,MN0201,SoHo-Little Italy-Hudson Square,SoHo,0.0,MN02,MN02 Greenwich Village-SoHo (CD 2 Equivalent),18577.11174,1.291676e+07,1.0,Open
2,15 East,FRANK BRUNI,11-Jul-07,2 star,$$$$,"Japanese, Sushi",Japanese,Union Square,0.0,0.0,...,MN0501,Midtown South-Flatiron-Union Square,MdtwnSth,0.0,MN05,MN05 Midtown-Flatiron-Union Square (CD 5 Appro...,18800.76597,1.487811e+07,1.0,Open
3,188 Bakery Cuchifritos,PETE WELLS,2-Apr-24,NaN,$,"Puerto Rican, Dominican",Latin American,Fordham Heights,0.0,86.0,...,BX0503,Fordham Heights,FrdhmHts,0.0,BX05,BX05 Morris Heights-Mount Hope (CD 5 Approxima...,12917.28009,7.379040e+06,1.0,Open
4,2nd City,LIGAYA MISHAN,"Sept. 15, 2016",NaN,$$,Philippine,Filipino,West Village,0.0,0.0,...,MN0203,West Village,WstVlg,0.0,MN02,MN02 Greenwich Village-SoHo (CD 2 Equivalent),23882.33924,1.441774e+07,1.0,Open
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1288,Zaytoons,ERIC ASIMOV,7-Jul-99,NaN,$,Middle Eastern,Middle Eastern,Carroll Gardens,0.0,0.0,...,BK0601,Carroll Gardens-Cobble Hill-Gowanus-Red Hook,CrrllGrdns,0.0,BK06,BK06 Park Slope-Carroll Gardens (CD 6 Approxim...,67164.87096,6.081178e+07,1.0,Open
1289,Zizi Limona,LIGAYA MISHAN,"Jan. 10, 2013",NaN,$$,"Mediterranean, Middle Eastern",Mediterranean,Williamsburg,1.0,0.0,...,BK0102,Williamsburg,Wllmsbrg,0.0,BK01,BK01 Williamsburg-Greenpoint (CD 1 Equivalent),28098.02702,2.885431e+07,1.0,Open
1290,Zoma,PETER MEEHAN,"Jan. 10, 2007",NaN,$$,"African, Moroccan",African,Harlem,0.0,0.0,...,MN1001,Harlem (South),Hrlm_S,0.0,MN10,MN10 Harlem (CD 10 Equivalent),16624.46279,1.444123e+07,1.0,Open
1291,Zum Stammtisch,PETE WELLS,2-Apr-24,NaN,$$,German,German,Glendale,0.0,97.0,...,QN0503,Glendale,Glndl,0.0,QN05,QN05 Ridgewood-Maspeth-Middle Village (CD 5 Ap...,41557.49038,3.000644e+07,1.0,Open
1292,Ãpizz,ERIC ASIMOV,"Sept. 20, 2002",NaN,$$$,"Italian, Pizza",Italian,Lower East Side,0.0,0.0,...,MN0302,Lower East Side,LES,0.0,MN03,MN03 Lower East Side-Chinatown (CD 3 Equivalent),19890.88544,1.647319e+07,1.0,Open

# Statistical Testing

## Chi Square Tests

In [30]:

print("                         CHI SQUARE TESTING")
# Contingency table for Cuisine vs CriticsPick
table_cuisine = pd.crosstab(df['Cuisine_Cleaned'], df['top100_2024'])

# Contingency table for Neighborhood vs CriticsPick
table_neighborhood = pd.crosstab(df['Neighborhood'], df['top100_2024'])

table_price = pd.crosstab(df['Price'], df['top100_2024'])


# Chi-Square Test for Cuisine
chi2_cuisine, p_cuisine, dof_cuisine, expected_cuisine = chi2_contingency(table_cuisine)
print("Chi-Square Test for Cuisine:")
print("Chi2 Stat:", chi2_cuisine, "P-value:", p_cuisine)
if p_cuisine < 0.05:
    print("Result: Statistically significant relationship found.")
else:
    print("Result: No statistically significant relationship found.")

# Chi-Square Test for Neighborhood
chi2_neighborhood, p_neighborhood, dof_neighborhood, expected_neighborhood = chi2_contingency(table_neighborhood)
print("Chi-Square Test for Neighborhood:")
print("Chi2 Stat:", chi2_neighborhood, "P-value:", p_neighborhood)
if p_neighborhood < 0.05:
    print("Result: Statistically significant relationship found.")
else:
    print("Result: No statistically significant relationship found.")

# Chi-Square Test for Price
chi2_price, p_price, dof_price, expected_price = chi2_contingency(table_price)
print("Chi-Square Test for Price:")
print("Chi2 Stat:", chi2_price, "P-value:", p_price)
if p_price < 0.05:
    print("Result: Statistically significant relationship found.")
else:
    print("Result: No statistically significant relationship found.")

                         CHI SQUARE TESTING
Chi-Square Test for Cuisine:
Chi2 Stat: 166.29435069959234 P-value: 4.634449204479245e-05
Result: Statistically significant relationship found.
Chi-Square Test for Neighborhood:
Chi2 Stat: 230.25017982002018 P-value: 1.0603678020464574e-07
Result: Statistically significant relationship found.
Chi-Square Test for Price:
Chi2 Stat: 13.05759006109797 P-value: 0.004513704428716706
Result: Statistically significant relationship found.

it appears that there are significant relationships between a Restaurant's Cuisine, Neighborhood, and Price level and being in the NYT top 100 list. Let's carry out a series of Post-Hoc Analyses to further investigate:

# Post Hoc Analyses

## Residual Analysis

In [31]:
# Create a contingency table for Cuisine vs. Top 100
contingency_table_cuisine = pd.crosstab(df['Cuisine_Cleaned'], df['top100_2024'])

# Perform chi-square test
chi2, p, dof, expected = chi2_contingency(contingency_table_cuisine)

# Calculate standardized residuals
residuals = (contingency_table_cuisine - expected) / np.sqrt(expected)
print("Standardized Residuals for Cuisine:\n", residuals)


# Define a significance threshold (e.g., 1.96 for 95% confidence level)
significance_threshold = 1.96

# Filter significant residuals
significant_residuals = residuals[
    (residuals.abs() > significance_threshold)
]

# Drop rows that don't have any significant residuals
significant_residuals = significant_residuals.dropna(how='all')

print("Significant Standardized Residuals:\n", significant_residuals)

Standardized Residuals for Cuisine:
 top100_2024             0.0       1.0
Cuisine_Cleaned
Afghan             0.145849 -0.492145
African            0.385881 -1.302092
Albanian          -0.958783  3.235255
American           0.202581 -0.683575
Asian              0.315071 -1.063154
...                     ...       ...
Vegan             -0.456321  1.539779
Vegan, Vegetarian -0.958783  3.235255
Vegetarian        -0.456321  1.539779
Vietnamese         0.143362 -0.483751
Wine Bars          0.119085 -0.401834

[102 rows x 2 columns]
Significant Standardized Residuals:
 top100_2024                 0.0       1.0
Cuisine_Cleaned
Albanian                    NaN  3.235255
English, French             NaN  2.086753
French                      NaN  2.670493
Israeli                     NaN  3.235255
Korean                      NaN  2.098198
Nigerian                    NaN  3.235255
Scandinavian                NaN  2.951115
Serbian                     NaN  2.951115
Small Plates                NaN  3.235255
Trinidadian and Tobagonian  NaN  3.235255
Uyghur                      NaN  3.235255
Vegan, Vegetarian           NaN  3.235255

In [32]:
# Create a contingency table for Cuisine vs. Top 100
contingency_table_cuisine = pd.crosstab(df['Neighborhood'], df['top100_2024'])

# Perform chi-square test
chi2, p, dof, expected = chi2_contingency(contingency_table_cuisine)

# Calculate standardized residuals
residuals = (contingency_table_cuisine - expected) / np.sqrt(expected)
print("Standardized Residuals for Neighborhood:\n", residuals)

Standardized Residuals for Neighborhood:
 top100_2024              0.0       1.0
Neighborhood
Astoria             0.092989 -0.314381
Battery Park City   0.083896 -0.283638
Bay Ridge          -0.172184  0.582124
Bayside             0.118647 -0.401125
Bedford-Stuyvesant  0.251688 -0.850914
...                      ...       ...
Williamsburg       -0.130988  0.442848
Windsor Terrace     0.118647 -0.401125
Woodside            0.324928 -1.098525
Woodstock          -0.958931  3.241982
Yorkville           0.083896 -0.283638

[130 rows x 2 columns]

In [33]:
# Create a contingency table for Cuisine vs. Top 100
contingency_table_cuisine = pd.crosstab(df['Price'], df['top100_2024'])

# Perform chi-square test
chi2, p, dof, expected = chi2_contingency(contingency_table_cuisine)

# Calculate standardized residuals
residuals = (contingency_table_cuisine - expected) / np.sqrt(expected)
print("Standardized Residuals for Price:\n", residuals)

Standardized Residuals for Price:
 top100_2024       0.0       1.0
Price
$            0.528136 -1.781332
$$           0.076382 -0.257626
$$$         -0.003268  0.011022
$$$$        -0.877657  2.960220

## Pairwise Comparisons

In [34]:
# from itertools import combinations
# from statsmodels.stats.multitest import multipletests

# # Pairwise comparisons for Cuisine
# cuisines = df['Cuisine'].unique()
# pairs = list(combinations(cuisines, 2))
# p_values = []

# for pair in pairs:
#     sub_table = df[df['Cuisine'].isin(pair)]
#     contingency_table_pair = pd.crosstab(sub_table['Cuisine'], sub_table['top100_2024'])
#     chi2, p, dof, expected = chi2_contingency(contingency_table_pair)
#     p_values.append(p)

# # Apply Bonferroni correction
# reject, pvals_corrected, _, _ = multipletests(p_values, method='bonferroni')
# results = pd.DataFrame({
#     'Pair': pairs,
#     'P-Value': p_values,
#     'Corrected P-Value': pvals_corrected,
#     'Reject Null Hypothesis': reject
# })
# print("Pairwise Comparisons for Cuisine:\n", results)

## Logistic Regression

### Cuisines

In [35]:
# Convert all values in the 'Cuisine' column to strings and replace NaN with an empty string
df['Cuisine'] = df['Cuisine'].astype(str).fillna('')

# Check the first few rows to confirm the conversion
print(df['Cuisine'].head())


from collections import Counter

# Split cuisine combinations and count individual cuisines
cuisine_counter = Counter()

for cuisines in df['Cuisine_Cleaned']:
    for cuisine in cuisines.split(', '):
        cuisine_counter[cuisine] += 1

# Get the top 20 most common cuisines
top_cuisines = [cuisine for cuisine, _ in cuisine_counter.most_common(50)]

print("Top 20 Cuisines:", top_cuisines)


# Function to check if a row's cuisines contain any of the top cuisines
def contains_top_cuisine(cuisine_list, top_cuisines):
    return any(cuisine in cuisine_list.split(', ') for cuisine in top_cuisines)

# Filter the DataFrame
df_filtered = df[df['Cuisine_Cleaned'].apply(lambda x: contains_top_cuisine(x, top_cuisines))]

# Optionally, create a new column with only the top cuisines for clarity
def extract_top_cuisines(cuisine_list, top_cuisines):
    return ', '.join([cuisine for cuisine in cuisine_list.split(', ') if cuisine in top_cuisines])

df_filtered['Top_Cuisine'] = df_filtered['Cuisine_Cleaned'].apply(lambda x: extract_top_cuisines(x, top_cuisines))

print(df_filtered[['Cuisine_Cleaned', 'Top_Cuisine']].head())

0       American, Sandwiches
1                    Russian
2            Japanese, Sushi
3    Puerto Rican, Dominican
4                 Philippine
Name: Cuisine, dtype: object
Top 20 Cuisines: ['American', 'Italian', 'Japanese', 'Chinese', 'French', 'Mexican', 'Latin American', 'Thai', 'Middle Eastern', 'Korean', 'Indian', 'Steak Houses', 'Seafood', 'Caribbean', 'Spanish', 'African', 'Mediterranean', 'Bakery/Caf\x8e', 'Vietnamese', 'Asian', 'Filipino', 'Greek', 'English', 'Turkish', 'Tibetan', 'Malaysian', 'Deli', 'German', 'Taiwanese', 'Russian', 'Moroccan', 'Pizza', 'Burmese', 'Brazilian', 'European', 'Barbecue', 'Vegan', 'Scandinavian', 'Indonesian', 'Vegetarian', 'Kosher', 'Eastern European', 'Serbian', 'Irish', 'Ethiopian', 'Bangladeshi', 'Austrian', 'Portuguese', 'Afghan', 'Cafes']
  Cuisine_Cleaned     Top_Cuisine
0        American        American
1         Russian         Russian
2        Japanese        Japanese
3  Latin American  Latin American
4        Filipino        Filipino

/var/folders/06/rlq1jslj0qsdfph0bh6cp1mc0000gn/T/ipykernel_62940/1895630711.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Top_Cuisine'] = df_filtered['Cuisine_Cleaned'].apply(lambda x: extract_top_cuisines(x, top_cuisines))

### Neighborhood

In [12]:
wealthy_neighborhoods = [
    'Hudson Yards', 'SoHo', 'TriBeCa', 'Hudson Square', 'Little Italy', 'Chinatown', 
    'Cobble Hill', 'Carroll Gardens', 'Flatiron District', 'West Village', 'Chelsea', 
    'Downtown Brooklyn', 'Greenwood Heights', 'DUMBO', 'Boerum Hill', 'Williamsburg', 
    'Brooklyn Heights', 'Prospect Heights', 'Gowanus', 'Battery Park City', 'Upper East Side', 
    'Greenpoint', 'Upper West Side', 'Park Slope', 'Theatre District - Times Square', 'Central Midtown',
    'Windsor Terrace', 'Hunters Point', 'Gramercy Park', 'Greenwich Village', 'Dyker Heights',
    'Financial District', 'Belle Harbor', 'Lower East Side', 'Hollis Hills', 'Prospect - Lefferts Gardens',
    'Madison', 'Little Neck', 'Clinton - Hell\'s Kitchen', 'Auburndale', 'Fresh Meadows', 
    'Queensboro Hill', 'Crown Heights', 'Mill Basin', 'Ditmars - Steinway', 'East Village', 
    'Borough Park', 'Fieldston', 'Clinton Hill', 'Rockwood Park', 'Sutton Place', 'Fort Greene', 'NoMad', 'Nolita', 'Flatiron', 
    'Flatiron district','Midtown','Midtown East', 'NoLIta', 'Clinton', 'Dumbo', 'Koreatown', 'Midtown West', 'Times Square Theatre District',
    'Union Square'
    
]

df['Wealthy_Neighborhood'] = df['Neighborhood'].apply(lambda x: 1 if x in wealthy_neighborhoods else 0)


model = smf.logit('top100_2024 ~ C(Wealthy_Neighborhood)', data = df)
result = model.fit(method='bfgs', maxiter=100)
print(result.summary())

# Get the odds ratios
odds_ratios = np.exp(result.params)
print("Odds Ratios for Top Cuisine:\n", odds_ratios)

Optimization terminated successfully.
         Current function value: 0.280513
         Iterations: 15
         Function evaluations: 16
         Gradient evaluations: 16
                           Logit Regression Results
==============================================================================
Dep. Variable:            top100_2024   No. Observations:                 1251
Model:                          Logit   Df Residuals:                     1249
Method:                           MLE   Df Model:                            1
Date:                Wed, 14 Aug 2024   Pseudo R-squ.:               0.0001726
Time:                        20:31:23   Log-Likelihood:                -350.92
converged:                       True   LL-Null:                       -350.98
Covariance Type:            nonrobust   LLR p-value:                    0.7278
================================================================================================
                                   coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
Intercept                       -2.3771      0.188    -12.661      0.000      -2.745      -2.009
C(Wealthy_Neighborhood)[T.1]    -0.0787      0.225     -0.349      0.727      -0.520       0.363
================================================================================================
Odds Ratios for Top Cuisine:
 Intercept                       0.092817
C(Wealthy_Neighborhood)[T.1]    0.924313
dtype: float64

In [12]:
summary_df[summary_df['P-value']<0.05]

,Variable,Coefficient (Log Odds),Odds Ratio,P-value
27,Recent_Years,3.377294,29.291396,9.396031e-19
12,Cuisine_French,1.886058,6.593329,1.080040e-03
11,Cuisine_Eastern European,2.479280,11.932674,3.896341e-03
37,College Graduates (%),-8.154685,0.000287,5.322105e-03
14,Cuisine_Indian,1.849436,6.356236,1.031765e-02
16,Cuisine_Korean,1.623567,5.071147,1.809921e-02
45,College_Graduates_Group_Very Low,-1.591349,0.203651,2.382319e-02
3,Price_Categorical_Very Expensive,1.234624,3.437086,2.685521e-02
35,Master,-0.000269,0.999731,3.878609e-02